/*
|--------------------------------------------------------------------------
| 加盟會員後台管理共用CSS
|--------------------------------------------------------------------------
|
*/
.custom_row{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 65px;
}
.box_btn_group{
	position: absolute;
	right: 10px;
	top:10px;
}
.custom_form_control{
	width: auto!important;
}
label[class="form_invalid"]{
    color: #ff6464;
}

.CustomCheckbox1{
	display: none;
}
.CustomCheckbox1+label{
	position: relative;
	margin-left: 15px;
	overflow:visible;
}
.CustomCheckbox1+label:after{
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    left: -25px;
    top:0px;
    border:2px solid #f56954;
    border-radius: 6px;
}
.CustomCheckbox1:checked+label>span:before{
    content: '';
    width: 0px;
    height: 16px;
    position: absolute;
    border-left: 5px solid #f56954;
    left: -19px;
    top:-2px;
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg); 
    z-index: 5;   
    animation-name:error_chk1;
    animation-duration:0.1s;
    -webkit-animation-fill-mode: forwards;        
}
.CustomCheckbox1:checked+label>span:after{
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    border-left: 5px solid #f56954;
    left: -19px;
    top:6px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);    
    z-index: 6;
    animation-name:error_chk1;
    animation-duration:0.1s;
    -webkit-animation-fill-mode: forwards;      
}
@keyframes error_chk1{
    0%{ 
        width: 0px;
    }
    100%{
        width: 16px;
    }
}
