/*
|--------------------------------------------------------------------------
| 配色1
|--------------------------------------------------------------------------
|
*/
/* 上方menu bar , menu根選單*/
#menu_box , #footer {
	background-color: #ca195a;
}
/* menu第二階 */
.child_tree {
	background-color: #D81B60;
}
/* menu第三階 */
.child_tree + ul {
	background-color: #f2538e;
}
/* menu 選單 hover */
.child_tree:hover , .child_tree + ul > a >li:hover {
    background-color: orange;
    color:white;
}
#footer_left_center , #footer_right_center{
	background-color: rgba(33,33,33,0.2);
}


/* 模組相關 */
.left_menu_item_root{
	background-color: #ca195a;
}

/* 按鈕相關 */
.colorbtn , .colorbtn > a{
	background-color: #ca195a!important;
	border-color:#fff!important;
	color:white!important;
}
.colorbtn:hover , .colorbtn:active{
	background-color: #b01950!important;
	color:white!important;
}

/* 標題相關 */
.goods_title , .goods_sn , .goods_price{
	color:#ca195a;
}
.caption > a > p {
	/*color:#ca195a!important;*/
}
.goods_sn{
	text-align: center;
	color:#ca195a!important;
}
.goods_title{
	color: black!important;
}
.goods_price{
	display: inline-block;
	width: calc(50% - 2px);
}
.goods_add_btn{
	text-align: right;
    display: inline-block;
    width: calc(50% - 2px);
}
@media screen and (max-width: 1439px){
.goods_price{
    display: block;
    width: 100%;    
    text-align: center;
}
.goods_add_btn{
    display: block;
    width: 100%;
    text-align: center;    
}	
}
/* 購物車按鈕 */
.cart_btn.dropdown{
	background-color: #1c1c1c!important;
	border-color: #ba0f87!important;
}
.num_in_cart{
	background-color: #ff92ca;
}