/* 
 * 加盟會員註冊css
 * 
 *
 */
.label_box{
	position:relative;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.label_box::after{
	display: block;
    content: attr( label );
    position: absolute;
    background-color: #ff9ca4;
    left: -10px;
    top:4px;
    padding:2px 5px 2px 5px;
    height: 30px;
    line-height: 26px;
}

.label_box::before{
	display: block;
	content: '';
	position:absolute;
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 6px 0;
    border-color: transparent #c3757b transparent transparent;
    left:-10px;
    top:34px;
}

#register_intro > .label_box{

    margin-bottom: 15px!important;
}

/* 註冊表單 */
#register_form_box{ 
    box-shadow: 2px 2px 5px #4d4d4d;
}
.form_subtitle{
    font-family: '微軟正黑體';
    font-weight: 900;
    font-size: 14px;
    color:orange;
    margin-bottom: 15px;
    border-bottom: 2px solid orange;
}
