/*
|--------------------------------------------------------------------------
| 前台專用css
|--------------------------------------------------------------------------
|
*/

@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
.m_only{
    display: none;
}
._np{
    padding: 0px;
}
._nm{
    margin: 0px;
}

@media(max-width:991px){
    .m_only{
        display: block;
    }
    .over_m{
        display: none;
    }    
}
#menu_box{
	padding: 0px;
	position: fixed;
	top:0px;
	left:0px;
	z-index: 999;
	height: 60px;
}
.menu_root{
	float: left;
}
.menulogo{
	float: left;
	margin-left: 20px;
}
.menulogo.only_m{
	position: absolute;
	top:0px;
	left:calc(50% - 90px);
}
.menu_root>.web_nav_tree_name{
	line-height: 60px;
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	min-width: 180px;
}
#content_left{
	margin-top: 20px;
}
#content_right{
	margin-top: 20px;
}
.thumbnail a>img{
    width: 220px;
    max-width: 100%;
}


/***
 * 瀏覽紀錄CSS
 */
#viewed_goods_box{
	box-shadow: 2px 2px 5px #111111;
	position: fixed;
	width: 100px;
	height: 340px;
	background-color: #e6e6e6;
	z-index: 999;
	top:calc( 50vh - 170px);
	right: -100px;
	border-radius: 5px;
}
#viewed_goods_box_title{
	height:40px;
}
#viewed_goods_box_title > p {
	text-align: center;
	font-family: 'cwTeXYen', sans-serif;	 
	font-weight: 900;
	font-size: 20px;
}

#viewed_switch{
    width: 20px;
    height:100px;
    background-color: #e6e6e6;
    position: absolute;
    left:-20px;
    top:calc( 50% - 40px );
    text-align:center;

}
#viewed_switch p {
	line-height: 40px;
	margin-bottom: 0px;
}
#viewed_switch{ 
	cursor: pointer; 
}
#viewed_goods_box ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#viewed_goods_box ::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#viewed_goods_box ::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #b7b7b7;
}


#viewed_goods_box_in{
	height: 290px;
	width: 100px;
	overflow-y: scroll;
}
.viewed_goods_item{
	width: 100%;
	margin-bottom: 10px!important;
}
a:last-child .viewed_goods_item{
    margin-bottom: 0px!important;
}
.viewed_goods_item > img{
    width: 100%;
}
/***
 * 瀏覽紀錄CSS END
 */
@media( max-width: 991px){
	#content_right{
        margin-top:120px;
    }
}
.web_nav1{
	height: 60px;
}
.web_nav1 ul:not(.dropdown-menu){
	display: inline-block;
    list-style: none;
    padding-left: 0px;
}
#nav_main_ul{
	margin-bottom: 0px;
	position: relative;
	font-weight: 900;
	font-family: '微軟正黑體';
}
.menu_ul{
	display: inline-block;
}
.web_nav_tree_name{
	display: inline-block;
    color:white;
	cursor: pointer; 
}
.web_nav_tree_name + ul:not(.dropdown-menu) {
	display: inline-block;
    display: none;
}
.menu_li{
	/*padding-top: 5px;
	padding-bottom: 5px;*/
	/*background-color: #D81B60;*/
	background-color: black;
	text-align: center;
	width: 100%;
	position: relative;
	display: block;
}
.child_tree {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.child_tree + ul{
	white-space:nowrap;
	position: absolute;
    top:0%;
    left:100%;

}
.child_tree + ul > a > li{
	color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.child_tree + ul > li{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.web_nav_tree_name:hover+ul{
	display: block;
}
.web_nav_tree_name+ul:hover{
	display: block;
}
.rwd_menu{
	display: none;
}
.goods_title{
	overflow:hidden;
    display: -webkit-box;
    word-break:break-all; 
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    height: 40px;
    line-height: 20px;
    font-size: 14px!important;
}
.goods_price , .goods_sn{

	font-size: 16px;

}
.recommend_title{

	font-weight: 900;
	
}
/* 排序按鈕 */
.sortup,.sortdown{
	position: relative;
}
.sortup::after{
	font-family: 'FontAwesome';
	position: absolute;
	content:'\f0aa';
	top:0px;
	right: 0px;
	font-size: 16px;
	font-weight: 900;
	color: black;
}
.sortdown::after{
	font-family: 'FontAwesome';
	position: absolute;
	content:'\f0ab';
	top:-4px;
	right: 0px;
	font-size: 16px;
	font-weight: 900;
	color: black;
}
.custom_form_control{
	width: auto!important;
	display: inline-block!important;
}
.custom_form_title{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.menua , .menua:hover{
	color:white;
}
/*
|--------------------------------------------------------------------------
| 購物車按鈕
|--------------------------------------------------------------------------
*/
.cart_btn.dropdown{
	position: absolute;
	display: inline-block;
	right: 10px;
	top:10px;
	float: right;
	height: 40px;
	padding-right: 15px;
	padding-left:15px;
	z-index: 20;
	border-radius: 4px;
	border:1px solid #dddddd;
}
.cart_btn.dropdown > a {
	color: #efefef;
	font-size: 24px;
	line-height: 40px;
}
.num_in_cart{
	display: inline-block;
	position: absolute;
	width: 26px;
	height: 26px;
	background-color: #ff92ca;
	left:-13px;
	top:calc(50% - 13px);
	border-radius: 50%;
	font-weight: 900;
	text-align: center;
	line-height: 26px;
	box-shadow: 1px 1px 5px #444444;
}
#cart_list.dropdown-menu{
    left:auto;
    right:2px!important;
    background-color: #eeeeee;
    width: auto;
    width: 350px;
    max-width: 80vw;
}
#cart_list{
	border-radius: 0px;
}
.cart_table{
	border:1px solid #dddddd;
	margin-bottom: 4px;
}
.tableimg>img{
	width: 40px;
	border-radius: 6px;
}
.cart_img_box > img{
	float: left;
}
.cart_img_box > span {
    width: calc(100% - 50px);
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;    
}
/*
|--------------------------------------------------------------------------
| 搜尋框
|--------------------------------------------------------------------------
|
*/
#search_form{
	margin-top: 10px;
	height: 40px;
	float:right;
	margin-right: 10px;
}
#search_form > form {
	height: 100%;
}
#search_form > form > input ,#search_form > form > button {
	top:0px;
	display: inline-block!important;
	width: auto;
	height:100%!important;
	vertical-align: top;
}
.rwd_search_box{
	display: none;
}
.rwd_search_box > form{
	margin-top: 10px;
}
.rwd_search_box > form > input{
	margin-left: calc( 10% );
	display: inline-block!important;
    width: 60%;
    height: 30px;
}
.rwd_search_box > form > button{
	vertical-align: top;
	display: inline-block!important;
	height: 30px;
    width: 20%;
}
#search_form > form > input , .rwd_search_box > form > input {
    height:calc( 100% - 1px )!important;
	background-color: #eff;
}
@media( max-width:767px ){

#search_form{
	padding-left: 15px;
	float: none!important;
	display: block;
	margin-right: 0px;
    margin-top: 5px;
}

}
/*
|--------------------------------------------------------------------------
| 加盟會員之會員 - 會員登入
|--------------------------------------------------------------------------
|
*/
#login_member_box{
	float:right;
	height: 40px;
	margin-top: 10px;	
	margin-right: 100px;
}
#login_member_box > a{
    color: white;
    height: 100%;
    line-height: 26px;
}
/*
|--------------------------------------------------------------------------
| 加入會員
|--------------------------------------------------------------------------
|
*/
#add_member_box{
	float:right;
	height: 40px;
	margin-top: 10px;
	margin-right: 10px;

}
#add_member_box > a{
    color: white;
    height: 100%;
    line-height: 26px;
}

/*
|--------------------------------------------------------------------------
| footer 區塊
|--------------------------------------------------------------------------
|
*/
#footer{
    padding-top: 15px;
    padding-bottom: 15px;
}
#footer_left , #footer_right{

}
#footer_left_center , #footer_right_center{
    min-height: 300px;
}
.footer_list{
	list-style: none;
	padding-left: 0px;
}
.footer_list > h4 {
    font-size: 20px;
    font-weight: 900;
    color:#d1d1d1;
    font-family: '微軟正黑體';
}
.footer_list > li , .footer_list > li >a {
	font-size: 16px;
	font-weight: 900;
    color:#ffafaf;
    font-family: '微軟正黑體';	
}
#footer_des{
	font-size: 16px;
	font-weight: 900;
	color: #d1d1d1;
	font-family: '微軟正黑體';	
}
#contact_box > p {
	font-size: 14px;
	font-weight: 900;
	color: #d1d1d1;
	font-family: '微軟正黑體';	
}
#footer_bottom{
	margin-top: 15px;
}
.only_m{
	display: none;
}
@media(max-width:991px){
	#footer{
		margin-bottom: 40px;
	}
	.footer_list{
		padding-left: 0px;
	}
    #footer_right_center{
	    margin-top: 15px;
    }	
}
/* 手機板選單 */
@media(max-width:991px){
.menulogo{
	margin-left: 0px;
}
/* COLUMNS */
.rwd_menu{
	height: 100%;
	display: block!important;
}
.col {
	display: block;
	float:left;
}

.col:first-of-type {
  margin-left: 0;
}

.container{
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ALL */

.row .three{
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line{
  width: 35px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */
#hamburger-1{
	margin-top: 15px;
	margin-left: 10px;
}
#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
.over_m , .over_m * , .over_m > *{
	padding: 0px!important;
	margin: 0px!important;
	display: none!important;
}
.only_m{
	display: block;
}
/* 全區塊 */

/* 手機板menu */
.child_tree{
	padding: 0px!important;
}
.web_nav1{
	display: none;
	position: absolute;
	top:60px;
	left:0px;
	width: 100%;
	background-color: #373737;
}
.rwd_menu_box{
	max-height: calc( 100vh - 100px );
	overflow: auto;
}
.rwd_root_menu{
	background-color: #373737;
}
.rwd_root_menu > a > h4 {
	display: block;
	font-family: '微軟正黑體';
	padding-left: 15px;
	font-size: 14px;
    height: 43px;
    line-height: 43px;
    margin: 0px;
    position: relative;
}
.rwd_root_menu > a > h4 > i{
	position: absolute;
	right: 15px;
	line-height: 43px;
}
.rwd_root_menu > a {
	color:white;	
}
.rwd_root_menu > h4 + a{
	color:#ca195a;
	position: absolute;
	right: 15px;
}

a[aria-expanded=true]>h4>i:before{	
	content:"\f106";
}
.rwd_panel{
	background-color: #474747;
	margin-bottom: 0px;
 	border-radius: 0px;
    list-style: none;
    border: 0px;
}
.rwd_panel > .box-header {
	padding: 0px;
}
.rwd_panel > .box-header > a > h4 {
	color:white;
	display: block;
	height: 36px;
	line-height: 36px;
	font-size: 13px;
	padding-left: 18px;
    font-family: '微軟正黑體';	
}
.rwd_panel > .box-header > a > h4 > i{
	position: absolute;
	right: 15px;
	line-height: 36px;
}
.rwd_panel > div > .box-body > a > li {
    color:white;
	height: 36px;
	line-height: 36px;
	font-size: 13px;
	padding-left: 18px;      
	background-color: #696969;
}
.rwd_panel > div > .box-body {
	padding: 0px;
}
.rwd_panel > .collapse > .box-body > a{
    color: white;
}

}
/* rwd toolbar */
@media(max-width: 991px){
#rwd_tool_bar{
	position: fixed;
	left:0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	background-color:#db36a4;
	z-index: 999;
	box-shadow: 0px -1px 16px 0px black;
}
#rwd_tool_bar > div {
	padding-left:2px;
	padding-right: 2px;
    cursor: pointer;	
	height: 100%;
	text-align: center;
}
#rwd_tool_bar > div > a{
    color:white;
}
.rwd_search_box{
	display: inline-block;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 900;
    top:-120px;
    left:0px;
    background-color:#eee;
    transition:top 0.3s linear;
}
.rwd_search_box.active{
    top:100px;
    transition:top 0.3s linear;
}

}

@media(max-width: 767px){
.show_goods_box{
	padding-left: 2px!important;
	padding-right: 2px!important;
}
}

/*
|--------------------------------------------------------------------------
| 表單提示樣式
|--------------------------------------------------------------------------
|
*/
label[class="form_invalid"]{
	margin-top: 6px;
	position: relative;
	background-color: #ff6464;
	color:white;
	font-family: '微軟正黑體';
	border:1px solid #ff6464;
}
label[class="form_invalid"]:after{
	position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 6px 4px;
    border-color: transparent transparent #ff6464 transparent;
    top:-6px;
    left:calc(50% - 2px);
}

/*
|--------------------------------------------------------------------------
| 頁面最低高度
|--------------------------------------------------------------------------
*/
#content_right{
    min-height: calc( 100vh - 540px );
}

.page_more_desc{
	display: none;
}

/*
| 麵包屑測試
|
|
*/
.breadcrumb_box {
	width: 100%;
    height: 30px;
    display: inline-block;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow-x:scroll;
}
.breadcrumb_box::-webkit-scrollbar {
    display: none;
}
.breadcrumb_box >a {
    display: inline-block;
}
.breadcrumb_item{
    float: left;
	font-size: 16px;
	line-height: 24px;
	height: 24px;
	display: inline-block;
	color: white;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#545454+0,383838+100 */
background: #545454; /* Old browsers */
background: -moz-linear-gradient(left, #545454 0%, #383838 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #545454 0%,#383838 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #545454 0%,#383838 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#383838',GradientType=1 ); /* IE6-9 */
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
    width: 100%;

}
.breadcrumb_item:after{


}
.breadcrumb_arrow{
    content: '';
    display: inline-block;
    top:0px;
    height: 24px;
    border-style: solid;
    border-width: 12px 0 12px 6px;
    border-color: #545454 transparent #545454 #383838;  
}

@media( max-width: 600px){
    .breadcrumb_box{
    	margin-bottom: 10px;
    	width: 100%;
    }
}
/*
| 非下拉選單menu css 
|
*/
#sub_menu{
	height: 40px;
	margin-top: 60px;
	background-color: #444444;
}
#sub_menu_main{
	height: 40px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#sub_menu_main > a {
	font-family: '微軟正黑體';
	color:white;
	line-height: 40px;
	font-size: 16px;	
	font-weight: 900;
}
.sub_menu_item:hover{
    background-color: white;
    color: black;
    transition: 0.1s linear;
}
#over18{
	position:fixed;
	top:0px;
	left: 0px;
	width: 100vw!important;
	height: 100vh;
	z-index: 1003;
	background-color: white;
}
#table18{
	width: 100%;
    height:100%;
    top:0px;
    left:0px;
}
#table18 tbody tr{

	width: 100%;
}
#table18 tbody tr td {
    width: 50%;

}
#table18 img{
	max-width: 50vw!important;
	max-height: 100vh!important;
}




/*
|--------------------------------------------------------------------------
| 快速menu區塊
|--------------------------------------------------------------------------
|
*/
#fast_cat_box{
	display: none;
}
/* 只有在手機板才呈現 */
@media( max-width: 992px ){
    #fast_cat_box{
    	position: fixed;
    	display: block;
    	z-index: 998;
    	height: auto;
    	width: 100%;
	    background-color: #9e9e9e;
	    top: 60px;    	
	    left: 0px;
    }
    #fast_cat_box_left{
        float:left;
        height: 100%;
        width:calc( 100% - 40px);
        background-color: #666666;
        overflow-x:auto;
        white-space: nowrap; /* 不斷行 */
        -ms-overflow-style: none;
    }
    /* 隱藏scroll bar */
    #fast_cat_box_left::-webkit-scrollbar {
        display: none;
    }
    .fast_cat_root{
    	display: none;
    	position: absolute;
    	bottom:-100px;
    	left: -100px;
    }
    .fast_cat_root_label{
    	display: inline-block;    	
    	height: 100%;
    	background-color: #666666;
    	line-height: 40px;
    	margin: 0px;
    	padding-left: 5px;
    	padding-right: 5px;
    	color: white;
    }
    .fast_cat_root:checked+.fast_cat_root_label
    {
    	background-color: #292929;
    }
    #fast_cat_box_show{
    	width: 100%;
    	background-color: #292929;
    	margin-top: 40px;
    }
    .fast_cat_box_child{
    	display: none;
    }
    .fast_cat_box_child_item{
    	display: inline-block;
    	width: 50%;
    	text-align: center;
    	color: white;
    	padding-top: 4px;
    	padding-bottom: 4px;
    }
    #fast_cat_box_right{
    	float: right;
    	width: 40px;
    	height: 40px;
    	background-color: #d8d8d8;
    	position: relative;
    }    

    /*
     * 全選項類別
     */
    #all_cat_root
    {
    	position: absolute;
        bottom:-30px;
        display: none;
    }
    #all_cat_root_label
    {   width: 40px;
    	height: 40px;
    	position:relative;
    }
    #all_cat_root_label::after{
        display: inline-block;
        position: absolute;
        font-family: "Glyphicons Halflings";
        text-align: center;
        line-height: 30px;
        content: '\e114';
        width: 30px;
        height:30px;
        background-color: #d8d8d8;
        left:5px;
        top:5px;
    }
    #all_cat_root:checked+#all_cat_root_label::after
    {
    	content: '\e113';
    }

    .all_cat_check
    {
    	position: absolute;
    	top:0px;
    	display: none;
    }
    .all_cat_label
    {   margin-bottom: 0px;
    	margin-top: 10px;
    	height: 40px;
    	width: calc( 50% - 2px);
    	border:1px solid black;
    	background-color: white;
        text-align: center;
        line-height: 40px;
        border-radius: 20px;    	
        position: relative;
    }
    .return_cat
    {   
    	position: absolute;
    	content: '';
    	display: block;
    	width: 40px;
    	height: 40px;
    	left:0px;
    	top:0px;
    	border-radius: 20px 0px 0px 20px;
    	background-color: #292929;
    	display: none;
    }
    .return_cat::after
    {   font-family: "Glyphicons Halflings";
        position: absolute;
        width: 40px;
        height: 40px;
        top:0px;
        left: 0px;
        display: block;
        content: "\e095";
        -moz-transform:scaleX(-1);
        -webkit-transform:scaleX(-1);
        -o-transform:scaleX(-1);
        transform:scaleX(-1);  
        color: white;  
    }
    .all_cat_check:checked+.all_cat_label .return_cat
    {
    	display: block;
    }
    #all_cat_box
    {   padding-bottom: 10px;
    	background-color: #d8d8d8;
    	display: none;
    }
    .all_cat_child_box
    {   padding-top: 10px;
        display: none;
    }
    .all_cat_child_box div
    {   display: inline-block;
    	width: 44%;
    	margin-left: 4%;
    	text-align: center;
    	margin-top: 5px;
    	margin-bottom: 5px;
    	background-color: #f9f9f9;
    	height: 30px;
    	line-height: 30px;
    	border-radius: 15px;
    	font-weight: 900;
    	color: black;
    	box-shadow: 2px 3px 4px #4d4d4d;
        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap;    	
        padding-left: 4px;
        padding-right: 4px;
    }
    .all_cat_check:checked+.all_cat_label+.all_cat_child_box
    {
    	display: block;
    }
    .uncheckroot+.all_cat_label
    {
    	display: none;
    }
    .checkroot+.all_cat_label
    {
    	animation: chk_cat_m_ani 0.8s ease-in-out forwards;
    }
    @keyframes chk_cat_m_ani {
    /*0%{    width: calc(50% - 2px);}
    100%{  width: calc(80%);margin-left:calc( 10% - 1px);}*/
    0% { 
        margin-top: 10px;
        width: calc(50% - 2px);
        transform: scale(1);
        background-color: white;
    }
    10%{
        margin-top: 10px;
        width: calc(80%);margin-left:calc( 10% - 1px);
    }
    20% {
        margin-top: 10px;
        width: calc(80%);margin-left:calc( 10% - 1px);
        transform: scale(2);
    }
    30% {
        margin-top: 10px;
        width: calc(80%);margin-left:calc( 10% - 1px);
        transform:  scale(0.9);
        background-color: #ca195a;
        box-shadow: 4px 3px 8px #4d4d4d;
        color: white;
        font-size: 20px;
        border: 0px solid black;

    }
    50% {
        margin-top: 10px;
        width: calc(80%);margin-left:calc( 10% - 1px);
        transform: scale(1.02);
        background-color: #ca195a;
        box-shadow: 4px 3px 8px #4d4d4d;
        color: white;
        font-size: 20px;        
        border: 0px solid black;        
    }
    70% {
        margin-top: 10px;
        width: calc(80%);margin-left:calc( 10% - 1px);
        transform: scale(1);
        background-color: #ca195a;
        box-shadow: 4px 3px 8px #4d4d4d;
        color: white;
        font-size: 20px;       
        border: 0px solid black;        
    }
    100% {
        margin-top: 10px;
        width: calc(80%);margin-left:calc( 10% - 1px);
        transform: scale(1);
        background-color: #ca195a;
        box-shadow: 4px 3px 8px #4d4d4d;
        color: white;
        font-size: 20px;       
        border: 0px solid black;        
    }
}    
}



.box[cus_title] .box-header h2{
    display: none!important;
}
.box[cus_title] {
    margin-top: 60px!important;
}

/* 必填提示訊息 */
.input_request_span{
    color:#ff4646;
}
#check_sub{
    margin-top: 40px;
}
#check_sub_in{
    width: 100%;
    border-radius: 4px;
    border:2px solid #c4c4c4;
}
#check_sub>#check_sub_in>table{
    width: 100%;
}
.textleft{text-align: left;}
.textright{text-align:right; }
.textcenter{text-align: center;}

.cart-progress-bar {
    position: relative;
    background: #e6eeff;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
    /*width: 500px;*/
    height: 10px;
    border-radius: 50px;
    margin: auto;
    /*overflow: hidden;*/
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.cart-progress-bar:after{
    font-family: 'cwTeXYen', sans-serif!important; 
    font-weight: 900;
    display: block;
    width: 80px;
    height: 20px;
    content: attr(percent);
    background-color: #ffabca;
    position: absolute;
    right:-86px;
    top:calc(50% - 10px);
    text-align: center;
    line-height: 20px!important;
    border-radius: 4px;

}
@media( max-width: 991px){
.cart-progress-bar:after{
    font-family: 'cwTeXYen', sans-serif!important; 
    font-weight: 900;
    display: block;
    width: 80px;
    height: 20px;
    content: attr(percent);
    background-color: #ffabca;
    position: absolute;
    right:0px;
    top:-26px;
    text-align: center;
    line-height: 20px!important;
    border-radius: 4px;

}  
}

.cart-progress-bar .cart-progress {
  background-image: -webkit-gradient(linear, left top, right top, from(#8aaaff), to(#fa8cff));
  background-image: linear-gradient(90deg, #8aaaff, #fa8cff);
  /*width: 70%;*/
  height: 10px;
  border-radius: 5px;
}