/*
|--------------------------------------------------------------------------
| 前台專用css
|--------------------------------------------------------------------------
|
*/
#menu_box{
	padding: 0px;
	position: fixed;
	top:0px;
	left:0px;
	z-index: 999;
	height: 60px;
}
.menu_root{
	float: left;
}
.menulogo{
	float: left;
	margin-left: 20px;
}
.menulogo.only_m{
	position: absolute;
	top:0px;
	left:calc(50% - 90px);
}
.menu_root>.web_nav_tree_name{
	line-height: 60px;
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	min-width: 180px;
}
#content_left{
	margin-top: 82px;
}
#content_right{
	margin-top: 82px;
}
.web_nav1 ul:not(.dropdown-menu){
	display: inline-block;
    list-style: none;
    padding-left: 0px;
}
#nav_main_ul{
	margin-bottom: 0px;
	position: relative;
	font-weight: 900;
	font-family: '微軟正黑體';
}
.menu_ul{
	display: inline-block;
}
.web_nav_tree_name{
	display: inline-block;
    color:white;
	cursor: pointer; 
}
.web_nav_tree_name + ul:not(.dropdown-menu) {
	display: inline-block;
    display: none;
}
.menu_li{
	/*padding-top: 5px;
	padding-bottom: 5px;*/
	/*background-color: #D81B60;*/
	background-color: black;
	text-align: center;
	width: 100%;
	position: relative;
	display: block;
}
.child_tree {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.child_tree + ul{
	white-space:nowrap;
	position: absolute;
    top:0%;
    left:100%;

}
.child_tree + ul > a > li{
	color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.child_tree + ul > li{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.web_nav_tree_name:hover+ul{
	display: block;
}
.web_nav_tree_name+ul:hover{
	display: block;
}
.rwd_menu{
	display: none;
}
.goods_title{
	overflow:hidden;
    display: -webkit-box;
    word-break:break-all; 
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    height: 40px;
    font-size: 14px!important;
}
.goods_price , .goods_sn{

	font-size: 16px;

}
.recommend_title{

	font-weight: 900;
	
}
/* 排序按鈕 */
.sortup,.sortdown{
	position: relative;
}
.sortup::after{
	font-family: 'FontAwesome';
	position: absolute;
	content:'\f0aa';
	top:0px;
	right: 0px;
	font-size: 16px;
	font-weight: 900;
	color: black;
}
.sortdown::after{
	font-family: 'FontAwesome';
	position: absolute;
	content:'\f0ab';
	top:-4px;
	right: 0px;
	font-size: 16px;
	font-weight: 900;
	color: black;
}
.custom_form_control{
	width: auto!important;
	display: inline-block!important;
}
.custom_form_title{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.menua , .menua:hover{
	color:white;
}
/*
|--------------------------------------------------------------------------
| 購物車按鈕
|--------------------------------------------------------------------------
*/
.cart_btn.dropdown{
	position: absolute;
	display: inline-block;
	right: 10px;
	top:10px;
	float: right;
	height: 40px;
	padding-right: 15px;
	padding-left:15px;
	z-index: 20;
	border-radius: 4px;
	border:1px solid #dddddd;
}
.cart_btn.dropdown > a {
	color: #efefef;
	font-size: 24px;
	line-height: 40px;
}
.num_in_cart{
	display: inline-block;
	position: absolute;
	width: 26px;
	height: 26px;
	background-color: #ff92ca;
	left:-13px;
	top:calc(50% - 13px);
	border-radius: 50%;
	font-weight: 900;
	text-align: center;
	line-height: 26px;
	box-shadow: 1px 1px 5px #444444;
}
#cart_list.dropdown-menu{
    left:auto;
    right:2px!important;
    background-color: #eeeeee;
    width: auto;
    width: 350px;
    max-width: 80vw;
}
#cart_list{
	border-radius: 0px;
}
.cart_table{
	border:1px solid #dddddd;
	margin-bottom: 4px;
}
.tableimg>img{
	width: 110px;
	border-radius: 6px;
}
/*
|--------------------------------------------------------------------------
| 搜尋框
|--------------------------------------------------------------------------
|
*/
#search_form{
	margin-top: 10px;
	height: 40px;
	float:right;
	margin-right: 100px;
}
#search_form > form {
	height: 100%;
}
#search_form > form > input ,#search_form > form > button {
	top:0px;
	display: inline-block!important;
	width: auto;
	height:100%!important;
	vertical-align: top;
}
.rwd_search_box{
	display: none;
}
.rwd_search_box > form{
	margin-top: 10px;
}
.rwd_search_box > form > input{
	margin-left: calc( 10% );
	display: inline-block!important;
    width: 60%;
    height: 30px;
}
.rwd_search_box > form > button{
	vertical-align: top;
	display: inline-block!important;
	height: 30px;
    width: 20%;
}
#search_form > form > input , .rwd_search_box > form > input {
    height:calc( 100% - 1px )!important;
	background-color: #eff;
}
@media( max-width:767px ){

#search_form{
	padding-left: 15px;
	float: none!important;
	display: block;
	margin-right: 0px;
    margin-top: 5px;
}

}
/*
|--------------------------------------------------------------------------
| footer 區塊
|--------------------------------------------------------------------------
|
*/
#footer{
    padding-top: 15px;
    padding-bottom: 15px;
}
#footer_left , #footer_right{

}
#footer_left_center , #footer_right_center{
    min-height: 300px;
}
.footer_list{
	list-style: none;
}
.footer_list > h4 {
    font-size: 20px;
    font-weight: 900;
    color:#d1d1d1;
    font-family: '微軟正黑體';
}
.footer_list > li , .footer_list > li >a {
	font-size: 16px;
	font-weight: 900;
    color:#ffafaf;
    font-family: '微軟正黑體';	
}
#footer_des{
	font-size: 16px;
	font-weight: 900;
	color: #d1d1d1;
	font-family: '微軟正黑體';	
}
#contact_box > p {
	font-size: 14px;
	font-weight: 900;
	color: #d1d1d1;
	font-family: '微軟正黑體';	
}
#footer_bottom{
	margin-top: 15px;
}
.only_m{
	display: none;
}
@media(max-width:767px){
	#footer{
		margin-bottom: 40px;
	}
	.footer_list{
		padding-left: 0px;
	}
    #footer_right_center{
	    margin-top: 15px;
    }	
}
/* 手機板選單 */
@media(max-width:992px){
.menulogo{
	margin-left: 0px;
}
/* COLUMNS */
.rwd_menu{
	height: 100%;
	display: block!important;
}
.col {
	display: block;
	float:left;
}

.col:first-of-type {
  margin-left: 0;
}

.container{
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ALL */

.row .three{
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line{
  width: 35px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */
#hamburger-1{
	margin-top: 15px;
	margin-left: 10px;
}
#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
.over_m , .over_m * , .over_m > *{
	padding: 0px!important;
	margin: 0px!important;
	display: none!important;
}
.only_m{
	display: block;
}
/* 全區塊 */

/* 手機板menu */
.child_tree{
	padding: 0px!important;
}
.web_nav1{
	display: none;
	position: absolute;
	top:60px;
	left:0px;
	width: 100%;
	background-color: #373737;
}
.rwd_root_menu{
	background-color: #373737;

}
.rwd_root_menu > h4 {
	display: inline-block;
	font-family: '微軟正黑體';
	font-weight: 900;
	padding-left: 15px;
	
}
.rwd_root_menu > h4 > a {
	color:white;	
}
.rwd_root_menu > h4 + a{
	color:#ca195a;
	position: absolute;
	right: 15px;
}
a[aria-expanded=true]>i:before{	
	content:"\f146";
}
.rwd_panel{
	background-color: #474747;
	margin-bottom: 0px;
 	border-radius: 0px;
    list-style: none;
}
.rwd_panel > .box-header > h4 > a{
    color:white;
    font-weight: 900;
    font-family: '微軟正黑體';
}
.rwd_panel > .box-header > h4 + a{
	color:#ca195a;
	position: absolute;
	right: 15px;
}
.rwd_panel > .panel-collapse > .box-body > li > a{
	color:white!important;
}
}
/* rwd toolbar */
@media(max-width: 767px){
#rwd_tool_bar{
	position: fixed;
	left:0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	background-color:#db36a4;
	z-index: 999;
	box-shadow: 0px -1px 16px 0px black;
}
#rwd_tool_bar > div {
    cursor: pointer;	
	height: 100%;
	text-align: center;
}
#rwd_tool_bar > div > a{
    color:white;
}
.rwd_search_box{
	display: inline-block;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 900;
    top:-120px;
    left:0px;
    background-color:#eee;
    transition:top 0.3s linear;
}
.rwd_search_box.active{
    top:60px;
    transition:top 0.3s linear;
}

}

@media(max-width: 767px){
.show_goods_box{
	padding-left: 2px!important;
	padding-right: 2px!important;
}
}